.booking-section {
  padding: 4rem;
  background-color: white;
  text-align: center;
  
  &__text {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }



}